body {
    font-family: 'josefin sans', sans-serif;
    margin: 0px;
    color: white;
}
.name h3{
    font-size: 30px; 
    margin-left: 50px;

}
.name h2{
    font-size: 40px;
    margin-left: 20px;
    font-weight: 500;
    margin-top: 10px;
}
.name h4{
    font-size: calc(1.275rem + .3vw);
    color: #f3ab4d;
    margin-left: 20px;
    margin-bottom: 0;
}
.red{
    color: #FB2576;
}
.wrapper input[type=email], input[type=password], input[type=text] {
    border-radius: 25px;
    width: 210px;
    height: 30px;
    border: #222222 2px solid;
    padding: 5px 10px 5px 10px;
    transition: .3s;
    margin: 5px;
}
.wrapper input[type=email]:focus, input[type=password]:focus, input[type=text]:focus {
    width: 260px;


}
input:disabled {
    cursor: default;
    background-color: rgba(59, 59, 59, 0.712);
    color: rgba(180, 180, 180, 0.616);
}
.wrapper label{
    font-size: 25px;
}
p{
border:3px;
font-size: 25px;
font-family: 'josefin sans', sans-serif;
padding: 10px 33px 15px 33px;
width: 70%;
line-height: 35px;
margin-bottom: 0px;
}
.first-sec {
    background-image: url(../PNG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #1d1d1d;
    margin: 0px 0px;
    padding: 20px;
    /* border-bottom: 3px solid white; */
}
form{
    font-size: large;
    font-weight: 500;
    size: 200%;
    /* padding-left:30% ; */
    /* color: white; */
}
.ronge{
    color: red;
}
.butn {
    text-decoration: none;
    background-color: #0E5E6F;
    width: 100px;
    height: 45px;
    padding-right: 10px;
    border-radius: 50px;
    border: 0ch;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
    transition:.4s ease;
}
.butn:hover{
    background-color: transparent;
    border: solid 3px;
    border-radius: 50px;
    border-color: #FB2576;
    width: 130px;
    color: white;
    /* transform: scale(1.1); */
    /* padding: 5px; */
}

.sec-sec {
    padding: 20px;
    background-color: #222222;
    color: white;

}
.sec-sec select{
    padding: 5px 10px ;
    border-radius: 5px;
    background-color: #222222;
    color: white;
    border: solid 2px #0E5E6F;
}
.footer{
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: white;
    font-size: medium;
}
/* navigation section bar */
.nav-bar{
    display: flex;
}
.nav-bar h1 a:hover:after{
    width: 0;
    text-decoration: none ;
    color: white;
}
.nav-bar h1 a{
    color: white;
}
.nav-bar a{
    text-decoration: none;
    padding-right:30px ;
    color: #dbdbdb;
    font-size: 1.5em;
    position: relative;

}
.nav-bar a:hover{
    color: rgb(255, 255, 255);


}
.nav-bar a:after{
   content: "";
   width: 0;
   height: 3px;
   position: absolute;
   left: 0;
   bottom: -10px;
   border-radius: 100px;
   background-color: #FB2576;
   transition: .4s;

}
.nav-bar a:hover:after{
width: 70%;

}
.nav-bar ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    left: 280px;
}
.social-ico {
    color: white;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    padding: 15px;
}
.social-ico a {
    color: white;
    font-size: 30px;
    margin: 15px;
    transition: .4s ease;
}
.social-ico a:hover{
    transform: scale(1.1);
}